APP_ENV=local
PORT=8080
AOS_API_KEY=DONOTUSEINPRODUCTION
AOS_JWT_ISSUER=http://issuer:9080/realms/aos
AOS_JWT_AUDIENCE=aos-core
AOS_JWK_URL=http://issuer:9080/realms/aos/protocol/openid-connect/certs

# If NO IAM:
AOS_IAM_URL=disabled

OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen3:8b
GEMINI_API_KEY=YOURAPIKEY
LOG_COLOR=1
LLM_ENGINE=ollama
LLM_MODEL=qwen3:8b
#LLM_ENGINE=gemini
#LLM_MODEL=gemini-2.5-flash-lite

REDIS_ADDR=redis:6379
REDIS_PASSWORD=YOURPASSWORD